<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleDevelopmentRegion</key>
   <string>English</string>
   <key>CFBundleExecutable</key>
   <string>stdReverb</string>
   <key>CFBundleIdentifier</key>
   <string>C4DM - FAST.rev1.stdReverb</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>0.0.2</string>
   <key>CFBundleName</key>
   <string>stdReverb</string>
   <key>CFBundlePackageType</key>
   <string>BNDL</string>
   <key>CFBundleShortVersionString</key>
   <string>0.0.2</string>
   <key>CFBundleSignature</key>
   <string>rev1</string>
   <key>CFBundleVersion</key>
   <string>0.0.2</string>
   <key>LSMinimumSystemVersion</key>
   <string>10.9.0</string>
</dict>
</plist>
